/* Chess board specific styles */

/* Chess Board Styles && Size of board */
.chess-board {
    width: 560px;
    height: 560px;
    margin: 0 auto;
    border: 10px solid #000000;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    flex-shrink: 0; /* Prevent board from shrinking */
}

.board-row {
    display: flex;
}

/* Square size */
.square {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: transparent !important;
    text-shadow: none !important;
}

/* Light Squares Color */
.white {
    background-color: #f0d9b5;
}

/* Dark Squares Color */
.black {
    background-color: #556B2F;
}

/* Square Selected Color */
.square.selected {
    background-color: #aec6cf !important;
}

/* Square Valid Color */
.square.valid-move {
    background-color: #90ee90 !important;
}

/* Piece Occupied square sizes */
.piece {
    width: 70px; /* Piece Square width */
    height: 70px; /* Piece Square width */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Generating all PNG images for Pieces from Image folder */
.piece-wK { background-image: url('/static/images/pieces/White-King.png'); }
.piece-wQ { background-image: url('/static/images/pieces/White-Queen.png'); }
.piece-wR { background-image: url('/static/images/pieces/White-Rook.png'); }
.piece-wB { background-image: url('/static/images/pieces/White-Bishop.png'); }
.piece-wN { background-image: url('/static/images/pieces/White-Knight.png'); }
.piece-wP { background-image: url('/static/images/pieces/White-Pawn.png'); }
.piece-bK { background-image: url('/static/images/pieces/Black-King.png'); }
.piece-bQ { background-image: url('/static/images/pieces/Black-Queen.png'); }
.piece-bR { background-image: url('/static/images/pieces/Black-Rook.png'); }
.piece-bB { background-image: url('/static/images/pieces/Black-Bishop.png'); }
.piece-bN { background-image: url('/static/images/pieces/Black-Knight.png'); }
.piece-bP { background-image: url('/static/images/pieces/Black-Pawn.png'); }

